<table class="table table-striped">
   <caption><h1 class="text-center">User</h1></caption>
   <tr>
    <th>Name</th>
    <th>Account name</th>
    <th>Login</th>
    <th>Email</th>
   </tr>
   <tr>
     <td><%=  @user['first_name'] %><%=  @user['last_name'] %></td>
     <td><%=  @user['account_name'] %></td>
     <td><%=  @user['login'] %></td>
     <td><%=  @user['email'] %></td>
   </tr>
</table>

<%(0..@shop.length-1 ).each do |i| %>
  <table class="table table-striped">
     <caption><h1 class="text-center">Shop <%= i+1%></h1></caption>
     <tr>
      <th>Name</th>
      <th>Shop id</th>
      <th>Url</th>
      <th>Created at</th>
     </tr>
     <tr>
       <td><%=  @shop[i]["name"] %></td>
       <td><%=  @shop[i]["id"] %></td>
       <td> <a href="<%=  @shop[i]["url"] %>"> <%=  @shop[i]["url"] %></a></td>
       <td><%=  @shop[i]['created_at'] %></td>
     </tr>
  </table>

  <table class="table table-striped">
     <caption><h1 class="text-center">Publishers</h1></caption>
     <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
     </tr>
     <%(0..@publishers.length-1 ).each do |m| %>
     <tr>
       <td><%=  @publishers[@shop[i]["id"]][m]["id"] %></td>
       <td><%=  @publishers[@shop[i]["id"]][m]["name"] %></td>
       <td><%=  @publishers[@shop[i]["id"]][m]["description"] %></td>
     </tr>
     <% end %>
  </table>
<% end %>


<a href="/" class="btn btn-primary btn-lg btn-block" role="button">Home</a>
